<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Pizarra-Elizalde</title>
		<meta name="description" content="Dynamic Grid with CSS Transitions inspired by the Google Trends Grid Visualization" />
		<meta name="keywords" content="google trends, dynamic grid, css transitions, javascript, responsive, fluid, layout" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/default-nl.css" />
		<link rel="stylesheet" type="text/css" href="css/component-nl.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container demo-1">
			<div id="gt-grid-selector" class="gt-grid-control">
				<!-- control de grid 
				<span class="gt-grid-icon"></span>
				-->
			</div>
			<div id="gt-grid" class="gt-grid">
				<div class="div-verde"><h3>9</h3></div>
				<div class="div-verde"><h3>10</h3></div>
				<div class="div-verde"><h3>11</h3></div>
				
				<div class="div-rojo"><h3>11</h3></div>
				<div class="div-rojo"><h3>10</h3></div>
				<div class="div-rojo"><h3>9</h3></div>

				<div class="div-verde"><h3>8</h3></div>
				
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
			
				<div class="div-rojo"><h3>8</h3></div>
				<div class="div-verde"><h3>7</h3></div>

				<div class="div-verdeclaro"><h1 style="text-align:left !important; position:relative !important; width:100% !important; height:10% !important; font-size:2em !important;">UCIRQ</h1></div>
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h1 style="text-align:right !important; position:relative !important; font-size:2em !important;">UCI</h1></div>

				<div class="div-rojo"><h3>7</h3></div>
				<div class="div-verde"><h3>6</h3></div>

				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>

				<div class="div-rojo"><h3>6</h3></div>
				<div class="div-verde"><h3>5</h3></div>

				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>

				<div class="div-rojo"><h3>5</h3></div>
				<div class="div-verde"><h3>4</h3></div>

				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-verdeclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>
				<div class="div-rojoclaro"><h3></h3></div>

				<div class="div-rojo"><h3>4</h3></div>
				<div class="div-verde"><h3>3</h3></div>
				<div class="div-verde"><h3>2</h3></div>
				<div class="div-verde"><h3>1</h3></div>
				<div class="div-rojo"><h3>1</h3></div>
				<div class="div-rojo"><h3>2</h3></div>
				<div class="div-rojo"><h3>3</h3></div>
			</div>

		</div><!-- /container -->
		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="js/classie.js"></script>
		<script src="js/gridSelector.js"></script>
		<script src="js/grid.js"></script>
		<script>
			Grid.init();
		</script>
	</body>
</html>